
  .auth__item{
  height: 50px;
  line-height: 3em;
  margin: 0px 0px 0px 10px; 
}

.image {
  position: relative;
  text-align: center;
  border: 8px solid #f2f5f6;
  width: 100px;
  height: 100px;
  display: inline-block;
  margin: -69px 0 26px;

  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500px;

  transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}

@import "https://fonts.googleapis.com/css?family=Russo+One";
h3.funny-title{
  border-top:5px 
  solid #E0DBDE;
  border-bottom:5px 
  solid #E0DBDE;
  font-size:70px;
  text-align:center;
  margin-top:40px;
  margin-bottom:5px;
  text-transform:uppercase;
  font-family:'Russo One',sans-serif;
  font-weight:900;
  letter-spacing:8px
}
@-webkit-keyframes move-background {
0%{background-position:-300px 0}
100%{background-position:300px -300px}
}
@-moz-keyframes move-background {
0%{background-position:-300px 0}
100%{background-position:300px -300px}
}
@keyframes move-background {
0%{background-position:-300px 0}
100%{background-position:300px -300px}
}
.section-title{-webkit-animation-play-state:running;-moz-animation-play-state:running;animation-play-state:running;color:transparent;background:url(https://obninsksite.ru/assets/theme/images/blog/square.svg) no-repeat #ECE7EA;background-size:cover;-webkit-text-fill-color:transparent;-moz-text-fill-color:transparent;-webkit-background-clip:text;-moz-background-clip:text;background-clip:text;-webkit-animation:move-background 20s infinite linear alternate;-moz-animation:move-background 20s infinite linear alternate;animation:move-background 20s infinite linear alternate}

.grid_3 {
  width: 240px;
}


.grid{
  background-color: rgba(149, 122, 255, 0.61);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.last{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.grid_1{
  display: grid;
  grid-template-columns: repeat(3, 1fr);

 }
 
.box {
  position: relative;
  margin: 40px 0 30px;
  background: #fff;
  text-align: center;
  padding: 0 25px 39px;
}

.box p {
  letter-spacing: -.4px
  background-color: rgba(149, 122, 255, 0.61);
}

a.blubtn {
  width:90px;
  text-align:center;
  display:block;
  font-family: arial;
  text-decoration: none;
  font-weight: 300;
  font-size: 14px;
  border: #1071FF 1px solid;
  color: #1071FF;
  padding: 3px;
  padding-left: 5px;
  padding-right: 5px;
   margin: 20px auto;
  transition: .5s;
  border-radius: 0px;
}
a.blubtn:hover {
  top: 5px;
  transition: .5s;
  color: #10FF58;
  border: #10FF58 1px solid;
  border-radius: 10px;
}
a.blubtn:active {
  color: #000;
  border: #1A1A1A 1px solid;
  transition: .07s;
  background-color: #FFF;
}
